<ion-content>
  <div class="success-container">
    <ion-card class="success-card">
      <div class="success-icon">
        <!-- Animated green circle with a checkmark icon -->
        <div class="circle" [@scaleIn]>
          <ion-icon name="checkmark"></ion-icon>
        </div>
      </div>

      <h1>Verification Successful!</h1>
      <p>
        Your KYC verification has been completed successfully. A confirmation email is being sent to your email account.
      </p>
      
     
    </ion-card>
  </div>
</ion-content>
